.main{
  margin-left: 2rem;
  margin-right: 2rem;
  /* flex-direction: column; */
}

.appinput{
  padding-top: 1rem;
  padding-bottom: 2rem;
  /* position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 999; */
}

.parallel{
  min-height: 80vh;
  padding-top: 2rem;
  padding-bottom: 0%;
  flex: 1;
  flex-grow: 1;
  display: flex;
}

.box {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
}

.side {
  width: 20%;
  margin-right: 2rem;
}

.schbutton {
  padding-left: 30%;
  padding-right: 30%;
}

.outtable{
  text-align: center;
  overflow-y: scroll;
  height: 85vh;
  width: 100%;
}

.sticktable{
  position: sticky;
  top: 0px;
  left: 0;
}

.tablecont {
  width: 80%;
}

.fix-bar {
  width: 100%;
  height: auto;
  position: sticky;
  z-index: 999;
  top:0;
  left: 0;
}

.appexp {
  margin-top: 50px;
}

@media screen and (max-width:1024px){
  
}

