.main{
  margin-left: 2rem;
  margin-right: 2rem;
  /* flex-direction: column; */
}

.textcenter{
  text-align: center;
}

.textleft{
  text-align: left;
}

.boxcenter{
  width: 700px;
  margin: auto;
}

.bigtext{
  font-size: 14pt;
}

.appinput{
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 999; */
}

.parallel{
  min-height: 80vh;
  padding-top: 2px;
  padding-bottom: 0%;
  flex: 1;
  flex-grow: 1;
  display: flex;
}

.box {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
  margin-top: 2rem;
}

.side {
  width: 15%;
  margin-right: 2rem;
}

.schbutton {
  width: 100%;
  text-align: center;
}

.outtable{
  text-align: center;
  overflow-y: scroll;
  height: 85vh;
  width: 100%;
}

.sticktable{
  position: sticky;
  top: 0px;
  left: 0;
}

.tablecont {
  width: 80%;
}

.fix-bar {
  width: 100%;
  height: auto;
  position: sticky;
  z-index: 999;
  top:0;
  left: 0;
}

/* card table */

.___card-img {
  width: 15vw;
}

.___card-txt {
  text-decoration-line: none;
  color: black;
}

/* tutorial */
.appexp {
  margin-top: 3px;
}

.center-h {
  text-align: center;
  letter-spacing: 1vw;
}

.big-search-button{
  width: 100%;
  text-align: center;
  border: solid;
}

.top-search{
  border: thick double rgb(120, 127, 226);
  margin-top: 10px;
}

.top-search-container{
  margin: 10px;
}

.plmi-btn{
  border: solid;
}

#overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00001070;
  z-index: 2100000000;
}

#overlay .overtext{
  position: absolute;
  left: 50%;
  top: 55%;
  width: 80%;
  transform: translate(-50%,-50%);
  color: rgba(250, 250, 250, 1);
  font-size: 24px;
  text-align: center;
}

.site-op{
  transition: all .2s;
}

.site-op:hover{
  transform: scale(1.1,1.1);
}

.orver-next {
  position: absolute;
  left: 45%;
  top: 45%;
  color: #f0f0f0;
  font-size: 1000%;
  transition: all .2s;
}

.orver-next:hover{
  transform: scale(1.1,1.1);
}

.orver-next-t {
  position: absolute;
  left: 45%;
  top: 5%;
  color: #f0f0f0;
  font-size: 1000%;
  transition: all .2s;
}

.orver-next-t:hover{
  transform: scale(1.1,1.1);
}

.appexp-highlite{
  position: absolute;
  border-radius: 3px;
  overflow: hidden;
  backdrop-filter: brightness(170%);
  height: 20%;
  width: 96%;
  top: 105px;
  left: 2%;
  z-index: 2100000000;
}

.appexp-text{
  position: absolute;
  left: 53%;
  top: 70px;
  width: 100%;
  transform: translate(-50%,-50%);
  color: rgba(250, 250, 250, 1);
  font-size: 24px;
  text-align: left;
}

.tableexp-highlite{
  position: absolute;
  border-radius: 3px;
  overflow: hidden;
  backdrop-filter: brightness(175%);
  height: 70%;
  width: 79%;
  top: 300px;
  left: 17%;
  z-index: 2100000000;
}

.tableexp-text{
  position: absolute;
  left: 68%;
  top: 275px;
  width: 100%;
  transform: translate(-50%,-50%);
  color: rgba(250, 250, 250, 1);
  font-size: 24px;
  text-align: left;
}

.optionexp-highlite{
  position: absolute;
  border-radius: 3px;
  overflow: hidden;
  backdrop-filter: brightness(170%);
  height: 30%;
  width: 16%;
  top: 310px;
  left: 1%;
  z-index: 2100000000;
}

.optionexp-text{
  position: absolute;
  left: 51%;
  top: 280px;
  width: 100%;
  transform: translate(-50%,-50%);
  color: rgba(250, 250, 250, 1);
  font-size: 24px;
  text-align: left;
}

.overendtext{
  position: absolute;
  left: 50%;
  top: 40%;
  width: 100%;
  transform: translate(-50%,-50%);
  color: rgba(250, 250, 250, 1);
  font-size: 24px;
  text-align: center;
  letter-spacing: 1vw;
}

/* detail css */
.detail-pic{
  height: 30vh;
}

@media screen and (max-width:1024px){
  
}

