.main{
  margin-left: 2rem;
  margin-right: 2rem;
  /* flex-direction: column; */
}

.appinput{
  padding-top: 1rem;
  padding-bottom: 2rem;
  /* position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 999; */
}

.parallel{
  min-height: 80vh;
  padding-top: 5px;
  padding-bottom: 0%;
  flex: 1;
  flex-grow: 1;
  display: flex;
}

.box {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
}

.side {
  width: 15%;
  margin-right: 2rem;
}

.schbutton {
  width: 100%;
  text-align: center;
}

.outtable{
  text-align: center;
  overflow-y: scroll;
  height: 85vh;
  width: 100%;
}

.sticktable{
  position: sticky;
  top: 0px;
  left: 0;
}

.tablecont {
  width: 80%;
}

.fix-bar {
  width: 100%;
  height: auto;
  position: sticky;
  z-index: 999;
  top:0;
  left: 0;
}

.appexp {
  margin-top: 3px;
}

.center-h {
  text-align: center;
  letter-spacing: 1vw;
}

.big-search-button{
  width: 100%;
  text-align: center;
  border: solid;
}

.top-search{
  border: thick double rgb(120, 127, 226);
  margin-top: 10px;
}

.top-search-container{
  margin: 10px;
}

.plmi-btn{
  border: solid;
}

@media screen and (max-width:1024px){
  
}

